# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build files
*.ilk
*.pdb

*.pro.user
bin/Data/OgreCommon/*
bin/Release/*.json
bin/Release/*.log
bin/Release/cache/*
bin/Debug/*.json
bin/Debug/*.log
bin/Debug/cache/*
